/*
    RESET
    Reset found @ https://alligator.io/css/minimal-css-reset/
*/
html {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility; }
  
  *, *:before, *:after {
    box-sizing: inherit; }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal; }
  
  ol, ul {
    list-style: none; }
  
  img {
    max-width: 100%;
    height: auto; }
  
  /* RESET */
  /* align items flex property on mobile */
  body.no-scroll {
    overflow: hidden; }
  
  /* Navigation */
  .nav {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 5;
    transition: all 0.5s ease-in-out;
    font-weight: 400;
    background-color: #292f36; }
  
  .company-name {
    font-family: "Open Sans", Arial, Helvetica, Times, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;
    color: #f7faff;
    text-transform: uppercase; }
  
  .nav--active .nav {
    opacity: 1;
    background: #292f36; }
  
  .nav__list {
    display: flex;
    align-items: baseline;
    text-transform: uppercase;
    justify-content: space-around;
    flex-direction: row;
    padding: 1em 0.5em; }
  
  .nav__item {
    list-style-type: none; }
  
  .nav__link {
    font-size: 1.5em;
    text-decoration: none;
    color: #f7faff;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; }
  
  .nav__link:hover {
    color: #f7faff; }
  
  /* navigation icon */
  .nav__trigger {
    display: none;
    position: fixed;
    width: 30px;
    height: 25px;
    right: 100px;
    top: 50px;
    z-index: 200; }
  
  @media (max-width: 768px) {
    .nav__trigger {
      display: block;
      top: 50px;
      right: 30px; }
  
    .nav {
      transform: translateX(-100%);
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: 0; }
  
    .nav__item {
      text-align: left;
      padding: 30px 10px; }
  
    .nav__list {
      margin: 0;
      padding: 10px;
      flex-direction: column;
      align-items: flex-start; }
  
    .nav__link {
      opacity: 0; } }
  .nav--active .nav__trigger {
    opacity: 0.5; }
  
  .nav__icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 5px;
    background-color: #f7faff;
    transition-property: background-color, transform;
    transition-duration: 0.5s; }
  
  .nav__icon:before, .nav__icon:after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    position: absolute;
    background: #f7faff;
    transition-property: margin, transform;
    transition-duration: 0.5s; }
  
  .nav__icon:before {
    margin-top: -10px; }
  
  .nav__icon:after {
    margin-top: 10px; }
  
  .nav__link {
    transition-delay: 500ms; }
  
  .nav--active .nav__link {
    opacity: 1; }
  
  .nav--active .nav {
    transition: all 300ms ease-in-out;
    transform: translateX(0); }
  
  .nav--active .nav__icon {
    background: rgba(0, 0, 0, 0); }
  
  .nav--active .nav__icon:before {
    margin-top: 0;
    transform: rotate(45deg); }
  
  .nav--active .nav__icon:after {
    margin-top: 0;
    transform: rotate(-45deg); }
  
  .nav.scrolled {
    background: #6bb0ff;
    transition: background 0.5s ease-in-out;
    -webkit-box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.62); }
  
  .nav__list.scrolled {
    padding: 10px; }
  
  body {
    background: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Helvetica, sans-serif; }
  
  .bg {
    height: 100vh;
    width: 100vw; }
  
  .blue {
    background: #4d88cc; }
  
  .black {
    background: #292f36; }
  
  .white {
    background: white; }
  
  /*# sourceMappingURL=style.css.map */ 