<div class="footer-section">
    <!--  <div class="container" style="position: relative;">
            <div class="login-box box">
                <h2>Pridajte sa k nám</h2>
                <form>
                  <div class="user-box">
                    <input type="text" name="" required="">
                    <label>Meno</label>
                  </div>
                  <div class="user-box">
                    <input type="mail" name="" required="">
                    <label>E-mail</label>
                  </div>
                  <div class="user-box">
                    <input type="text" name="" required="">
                    <label>Telefónne číslo</label>
                  </div>
                  <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Odoslať
                  </a>
                </form>
        </div>
    </div> -->
    <div class="container">
        <div class="footer-data row no-gutters">
            <div class="col-md-6">
                <div class="login-box">
                    <h2 class="text-center">Kto sme?</h2>
                    <p><strong>HK Drahovce</strong>, hokejoví nadšenci a partia skvelých ľudí, ktorí si chodia pravidelne zahrať hokej pre radosť. Hokej hrávame pravidelne každú sobotu v hokejovej Easton aréne v Pieštanoch. Orientačný čas hokeja je okolo 20 hodiny plus mínus pol hodina, pretože čas určuje ŠHK Piešťany podľa dostupnosti ľadovej plochy.</p>
                    <p>Ak by si si aj ty chcel chodiť zahrať hokej snami, tak Nás neváhaj kontaktovať a pridaj sa k Nám. Vyplň nasledovný formulár a mi ťa kontaktujeme.</p>
                </div>
            </div>
            <div class="col-md-6 box">
                <div class="login-box">
                    <h2>Poď hrať aj TY</h2>
                    <form action="/assets/receivemail.php" method="post">
                        <div class="user-box">
                            <input type="text" name="meno" required="" id="meno">
                            <label>Meno</label>
                        </div>
                        <div class="user-box">
                            <input type="mail" name="mail" required="" id="mail">
                            <label>E-mail</label>
                        </div>
                        <div class="user-box">
                            <input type="text" name="cislo" required="" id="cislo">
                            <label>Telefónne číslo</label>
                        </div>
                        <div class="user-box">
                            <textarea name="text" required="" id="sprava"></textarea>
                            <label>Správa</label>
                        </div>
                        <!-- <a (click)="submitForm(meno.value , mail.value, cislo.value, sprava.value)">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Odoslať
                        </a> -->
                        <button type="submit">Odoslať</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="footer-copiright">
            <div>© 2020 Ing. Ivan Polačik</div>
            <div>Všetky práva vyhradené</div>
        </div>
    </div>
</div>